@font-face {
    font-family: "DejaVu Sans Mono for Powerline";
    src: local("DejaVu Sans Mono for Powerline"),
         local("DejaVu Sans Mono for Powerline"),
         url("fonts/DejaVu Sans Mono for Powerline.ttf");
}

@font-face {
    font-family: "DejaVu Sans Mono Bold for Powerline";
    font-weight: bold;
    src: local("DejaVu Sans Mono Bold for Powerline"),
         local("DejaVu Sans Mono Bold for Powerline"),
         url("fonts/DejaVu Sans Mono Bold for Powerline.ttf");
}

html {
    background-color: #ffffff;
    color: black;
    font-family: "DejaVu Sans Mono for Powerline", monospace;
}

@media (min-width: 42em) { body { width: 40em; } }
@media (min-width: 72ch) { body { width: 70ch; } }

body {
    margin: auto;
}

.main {
    padding-top: 1em;
}

#container {
    padding: 0.5em;
    padding: 1ch;
    padding-right: 0.75em;
    padding-right: 1.5ch;
    margin-top: 1em;
    margin-bottom: 2em;
}

@media (max-width: 42em) {
    html {
        background-color: rgb(255, 255, 255);
    }

    body {
        width: 90%;
        width: calc(100% - 2em);
    }

    #container {
        height: 100%;
        padding: 0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        margin: auto;
        box-shadow: none;
    }
}

a {
    transition: 0.1s color;
    color: #000000;
    text-decoration: none;
}

a:focus {
    outline: 2px dotted rgb(223, 174, 12);
    outline-offset: 1px;
}

a:hover {
    cursor: pointer;
    color: rgb(223, 174, 12);
}

small {
    color: #4CAF50;
    font-weight: light;
    font-size: 0.8rem;
}

h2::before {
    content: "λ ";
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h2 {
    color: rgb(255, 255, 255);
    background: #000000;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

h3 {
    color: rgb(5, 202, 209);
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.2em;
    padding: 0;
}

h5 {
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
    margin-top: 0.2em;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 1.2em;
    /* list-style-type: " - "; */
    list-style: upper-roman;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 0.8em;
    font-size: 0.8em;
}

li {
    font-size: 0.8em;
}

li p {
    margin-bottom: 0;
}

p:hover {
    font-size: 0.9em;
}